################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test3/Debug
/ipch/TEST3-5f2050fe
/Debug
/.vs/Test3/v14
/Test3.VC.db
/Test3.VC.VC.opendb
